@Html.DevExpress().GridView(settings =>
{
    settings.Name = "GridView";

    settings.KeyFieldName = "shop_Auto";
    
    settings.SetDataItemTemplateContent(cell => {
        ViewContext.Writer.Write("<span style=\"color:red\">" + cell.Text + "</span>");
    });



    settings.Columns.Add("shop_name");
    settings.Columns.Add("address");
    
    
    
}).Bind(Model).GetHtml()