

@Html.DevExpress().GridView(settings =>
{
    settings.Name = "GridView";

   // settings.KeyFieldName = "UserName";

    //settings.SetDataItemTemplateContent(cell =>
    //{
    //    ViewContext.Writer.Write("<span style=\"color:red\">" + cell.Text + "</span>");
    //});

    settings.CallbackRouteValues = new { Action = "PartialEmployeeListcallback", Controller = "GPSStatus" };


    //settings.Columns.Add("UserName");
    //settings.Columns.Add("total_shop_visited");
    //settings.Columns.Add("total_time_spent_at_shop");
    //settings.Columns.Add("gps");
    //settings.Columns.Add("Ratio");

    settings.Columns.Add(x =>
    {
        x.FieldName = "UserName";
        x.Caption = "User Name";
        x.VisibleIndex = 1;
        x.Width = System.Web.UI.WebControls.Unit.Percentage(30);


    });


    settings.Columns.Add(x =>
    {
        x.FieldName = "total_shop_visited";
        x.Caption = "No. Of Shops Visited";
        x.VisibleIndex = 2;
        x.Width = System.Web.UI.WebControls.Unit.Percentage(15);


    });



    settings.Columns.Add(x =>
    {
        x.FieldName = "total_time_spent_at_shop";
        x.Caption = "Total Working Duration";
        x.VisibleIndex = 3;
        x.Width = System.Web.UI.WebControls.Unit.Percentage(15);


    });

    settings.Columns.Add(x =>
    {
        x.FieldName = "gps";
        x.Caption = "GPS Inactive Duration";
        x.VisibleIndex = 4;
        x.Width = System.Web.UI.WebControls.Unit.Percentage(10);

    });

    settings.Columns.Add(x =>
    {
        x.FieldName = "Ratio";
        x.Caption = "Ratio%";
        x.VisibleIndex = 5;
        x.Width = System.Web.UI.WebControls.Unit.Percentage(10);

    });

    settings.Columns.Add(x =>
    {
        x.Caption = "Action";
        x.VisibleIndex = 6;
        x.Width = System.Web.UI.WebControls.Unit.Percentage(20);
        x.SetDataItemTemplateContent(c =>
        {
            ViewContext.Writer.Write("<a style='cursor:pointer' onclick=\"OpenSHopVisitList('" + Convert.ToString(DataBinder.Eval(c.DataItem, "user_id")) + "')\">View Details</a>");
        });
    
    
    });
    
    settings.SettingsPager.PageSizeItemSettings.Items = new string[] { "10", "20", "50", "100" };
    settings.SettingsPager.PageSizeItemSettings.Visible = true;
    settings.SettingsPager.PageSize =10;
    settings.SettingsPager.Position = System.Web.UI.WebControls.PagerPosition.TopAndBottom;


}).Bind(Model).GetHtml()


